<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MavenSpringJsfTemplate</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            /WEB-INF/applicationContext.xml
         </param-value>
  </context-param>
 
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  
  <listener>
    <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
  </listener>
  
<!-- Config de la page jsf en mode developpement pour les erreurs -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
 
  <welcome-file-list>
    <welcome-file>/pages/accueil.xhtml</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  
  
  <security-constraint> 
 	<web-resource-collection>
 		<web-resource-name>AllUser</web-resource-name>
 		<url-pattern>/pages/*</url-pattern>
 	</web-resource-collection>
 	<auth-constraint>
 		<role-name>ROLE_USER</role-name>
 		<role-name>ROLE_ADMIN</role-name>
 	</auth-constraint> 	
 </security-constraint>

<!-- Il faut config le server.xml de tomcat avec : -->
<!-- <Realm className="org.apache.catalina.realm.JDBCRealm" debug="99" -->
<!-- 					driverName="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/locationvoiture" -->
<!-- 					connectionName="root" connectionPassword="root" userTable="users" -->
<!-- 					userNameCol="nom" userCredCol="password" userRoleTable="roles" -->
<!-- 					roleNameCol="role" /> -->

 
<login-config>	
	<auth-method>FORM</auth-method>
	<realm-name>Tomcat Manager Application</realm-name>
	<form-login-config>
		<form-login-page>/login.jsf</form-login-page>
		<form-error-page>/login.jsf</form-error-page>
	</form-login-config>
	
</login-config>

 
<!--   <login-config> -->
<!-- 	<auth-method>BASIC</auth-method> -->
<!-- 	<realm-name>Tomcat Manager Application</realm-name> -->
<!-- </login-config> -->
  
<security-role>
	<role-name>ROLE_ADMIN</role-name>
</security-role> 
<security-role>
	<role-name>ROLE_USER</role-name>
</security-role>  
 
</web-app>